<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.farm.entity.Article">
        <id column="id" property="id" />
        <result column="author_id" property="authorId" />
        <result column="type" property="type" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="searchArticle" resultType="com.farm.dto.res.ArticleDTO">
        SELECT
          t1.id,
          t2.`name` as authorName,
          t1.cover_img as coverImg,
          t1.type,
          t1.title,
          t1.content,
          t1.create_time as createTime,
          if(t3.id is null,0,1) as follow
        FROM
          article t1 LEFT JOIN `user` t2 on t1.author_id = t2.id
        LEFT JOIN user_collect t3 on t1.id = t3.article_id and t3.status = 1
        where t1.status = 1 and t1.type in (2,3,4)
          <if test="content != null and content != ''">
              and title like CONCAT('%','${content}','%' ) or content like CONCAT('%','${content}','%' )
          </if>
        order by t1.create_time desc
    </select>

    <select id="getNotice" resultType="com.farm.dto.res.ArticleDTO">
        SELECT
          t1.id,
          t2.`name` as authorName,
          t1.cover_img as coverImg,
          "公告" AS typeDesc,
          t1.`type`,
          t1.title,
          t1.content,
          t1.create_time as createTime,
          if(t3.id is null,0,1) as follow
        FROM
          article t1 LEFT JOIN `user` t2 on t1.author_id = t2.id
          LEFT JOIN user_collect t3 on t1.id = t3.article_id and t3.user_id = #{userId} and t3.status = 1
        where t1.status = 1 and t1.type = 1
        order by t1.create_time desc
    </select>

    <select id="searchArticleByType" resultType="com.farm.dto.res.ArticleDTO">
        SELECT
        t1.id,
        t2.`name` as authorName,
        t1.cover_img as coverImg,
        t1.type,
        t1.title,
        t1.content,
        t1.create_time as createTime
        FROM
        article t1 LEFT JOIN `user` t2 on t1.author_id = t2.id
        LEFT JOIN user_collect t3 on t1.id = t3.article_id and t3.status = 1
        where t1.status = 1 and t1.type = #{type}
        order by t1.create_time desc
    </select>
    <select id="getNoticePage" resultType="com.farm.dto.res.ArticleDTO">
        SELECT
          t1.id,
          t2.`name` as authorName,
          t1.cover_img as coverImg,
          "公告" AS typeDesc,
          t1.`type`,
          t1.title,
          t1.content,
          t1.create_time as createTime

        FROM
          article t1 LEFT JOIN `user` t2 on t1.author_id = t2.id
          LEFT JOIN user_collect t3 on t1.id = t3.article_id and t3.status = 1
        where t1.status = 1 and t1.type = 1
        order by t1.create_time desc
    </select>

</mapper>
