<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.mapper.UserCollectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.farm.entity.UserCollect">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="article_id" property="articleId" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="getMyCollect" resultType="com.farm.dto.res.MyCollectDTO">
        SELECT
	      t1.id,
	      t1.user_id AS userId,
	      t1.article_id AS articleId,
	      t1.create_time AS createTime,
	      t2.title AS articleTitle
        FROM
	      user_collect t1
	    LEFT JOIN article t2 ON t1.article_id = t2.id
        WHERE
	      t1.user_id = #{userId}
	    AND t1.`status` = 1
	    order by t1.create_time desc
    </select>

</mapper>
